<nav class="navbar navbar-light bg-light text-light bg-dark">
	<div class="container-fluid">
		<div class="navbar-header">
	      <span class="navbar-brand text-light"><a href="/home">MyShop</a></span>
	    </div> 	

		<ul class="nav navbar-nav navbar-right">
			<div *ngIf="isLogged">
				<li class="nav-item dropdown ">
			        <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			        {{user.name}}
			        </a>
			        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
			          <a class="dropdown-item" href="#">
						<i class="fas fa-user"></i>
			          	Perfil
			          </a>
			          <div class="dropdown-divider"></div>
			          <a class="dropdown-item" (click)="logoff()">
						<i class="fas fa-sign-out-alt"></i>
			          	Logoff
			          </a> 
			        </div>
			    </li>
			</div>
	    </ul>
	</div>  
</nav>