<div class="row">
	<div class="col"></div>
	<div class="col">
		<form #form="ngForm" (submit)="login(form)" autocomplete="off">

		  <div class="form-group">
		    <label for="email">Email address</label>
		    <input #email="ngModel" [(ngModel)]="service.user.email" type="email" class="form-control" placeholder="Enter email" id="email" name="email">
		    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
		  </div>
		  <div class="form-group">
		    <label for="password">Password</label>
		    <input  #password="ngModel" [(ngModel)]="service.user.password" type="password" class="form-control" id="password" placeholder="Password" name="password">
		  </div>
		  <button type="submit" class="btn btn-primary">Login</button>

		</form>
		<a href="/register">Create account</a>
	</div>
	<div class="col"></div>
</div>		