<div class="row">
	<div class="col"></div>
	<div class="col">

		<h3>New User</h3>

		<form #form="ngForm" (submit)="register(form)" autocomplete="off">


		  <div class="form-group">
		    <label for="name">Name</label>
		    <input #name="ngModel" [(ngModel)]="service.user.name" type="text" class="form-control" placeholder="Enter Name" id="name" name="name">
		  </div>

		  <div class="form-group">
		    <label for="email">Email address</label>
		    <input #email="ngModel" [(ngModel)]="service.user.email" type="email" class="form-control" placeholder="Enter email" id="email" name="email">
		    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
		  </div>
		  <div class="form-group">
		    <label for="password">Password</label>
		    <input  #password="ngModel" [(ngModel)]="service.user.password" type="password" class="form-control" id="password" placeholder="Password" name="password">
		  </div>
		  <button type="submit" class="btn btn-primary">Create</button>

		</form>
	</div>
	<div class="col"></div>
</div>		